/*
    Document   : style
    Created on : May 27, 2013, 10:06:43 AM
    Author     : marjan
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}
html{
    min-height: 100%;
    position: relative;
    top:0px;
    height: 0px;
    bottom:0px;
    left:0px;
}
body{
    position: absolute;
    background-image:url('../img/wide_rectangles.png');
    width:100%;
    height:100%;
    font:18px  "Source Sans Pro";
}
input, button{
    font:16px  "Source Sans Pro";
}
header{
    width:100%;
    height: 40px;
    background: #222;
    padding: 0;
    position: absolute;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    z-index:3;
}
header ul{
    list-style: none;
    display:inline-block;
    height:100%;
    font-size: 16px;
    margin:3px;
    padding: 0;
    float:left;
    line-height: 40px;
    color:#ccc;
}
header ul li{
    display: inline-block;
    margin:0 6px;
    line-height: 40px;
    height:40px;
}
header ul li a{
    color:white;
}
header button{
   position: absolute;
   right: 10px;
   top: 5px;
   line-height: 24px;
}
.btn{
    border-radius: 4px;
    text-shadow: 1px 1px 0px #fff;
    color: #555;
    background: #fdfdfd;
    border: 1px solid #fff;
}
.btn:hover{
    background: #ededed;
}
header .page-link{
   position: absolute;
   right:120px;
   top: 5px;
   line-height: 24px;
   width: 290px;
   padding-left: 10px;
}
header .add_http{
   position: absolute;
   right:425px;
   top: 5px;
   padding: 3px 5px;
   line-height: 24px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   box-shadow: 0px 0px 3px #333 inset;
   border: none;
}

button.http_active {
   background: #111;
   box-shadow: 0px 0px 3px #fff inset;
   color: #fff;
}

.container{
    position: absolute;
    top:40px;
    right: 0px;
    bottom:0px;
    left:0px;
    background-image:url('../img/wide_rectangles.png');

    display:block;
}
.page-container{
    width:320px;
    height:480px;
    margin:30px auto;
    background: rgba(0,0,0,0.7);

    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    padding: 0px;
    box-shadow: 0px 0px 0px 1px #222;
    overflow: hidden;
}
.page{
    width:100%;
    height:100%;
    border:none;
}
iframe{
    overflow:hidden;
}
.icon-description{
    font-size: 11px;
    height: 40px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    color: #aaa;
    line-height: 40px;
    float:left;
    border-left: 1px solid #555;
    display: block;
}
.icon-full-size-white{
    background: url('../img/full-size-white.png') no-repeat;
}
.icon-phone-landscape-s-white{
    background: url('../img/phone-white-landscape-s.png') no-repeat;
}
.icon-phone-landscape-white{
    background: url('../img/phone-white-landscape.png') no-repeat;
}
.icon-phone-portrait-s-white{
    background: url('../img/phone-white-portrait-s.png') no-repeat;
}
.icon-phone-portrait-white{
    background: url('../img/phone-white-portrait.png') no-repeat;
}
.icon-tablet-landscape-s-white{
    background: url('../img/tablet-white-landscape-s.png') no-repeat;
}
.icon-tablet-landscape-white{
    background: url('../img/tablet-white-landscape.png') no-repeat;
}
.icon-tablet-portrait-s-white{
    background: url('../img/tablet-white-portrait-s.png') no-repeat;
}
.icon-tablet-portrait-white{
    background: url('../img/tablet-white-portrait.png') no-repeat;
}
.icon-widescreen-white{
    background: url('../img/widescreen-white.png') no-repeat;
}
.icon-plus-white{
    background: url('../img/plus-white.png') no-repeat;
}
.icon-crop-white{
    background: url('../img/crop-white.png') no-repeat;
}
.icon{
    display: block;
    width: 32px;
    height: 32px;
    background-position:center;
    background-size: 32px 32px;
}

.icon-transparent{
    opacity: 0.8;
}
.icon-transparent:hover{
    opacity: 0.95;
}
.custom-size-container{
    color: #bbb;
    background: #111;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 4px #aaa;
    position: absolute;
    top: -40px;
    left: 300px;
    z-index: 2;
    width: 165px;
    height: 27px;
    line-height: 26px;
    padding-top: 7px;
    visibility: hidden;
    opacity: 0;

    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.visible-container{
    visibility: visible;
    opacity: 1;
    top: 40px;
}
.custom-size-container span{
    margin: 0px;
    padding: 0px;
    float:left;
    line-height:20px;
}
.custom-size-container button{
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    float:right;
    margin-right: 5px;
    padding: 0px;
}
.custom-size-container button i{
    display: block;
    width: 20px;
    height: 20px;
    background-position:left;
    background-size: 20px 20px;
}
.custom-size-container input{
    width: 50px;
    border:1px solid #999;
    background: #222;
    color: #bbb;
    font-size: 12px;
    float:left;
}
.custom-size-container input:first-child{
    margin-left: 5px;
}
.dragbar{
   background-color:white;
   height:70px;
   margin-left: 10px;
   width: 3px;
   cursor: col-resize;
   z-index: 9999;
   position: absolute;
   top: 220px;
}